* {
	margin: 0;
	padding: 0;
}

/*test style*/

.p1 {
	background-color: #F08519;
}
.p2 {
	background-color: #c08919;
}
.p3 {
	background-color: #a03599;
}
.p4 {
	background-color: #108519;
}
.p5 {
	background-color: #408519;
}
.swipe-page p {
	text-align: center;
	font: 26px/4 "microsoft yahei";
}
.swipe-page section{
	background-color: #fff;
	width: 80%;
	height: 200px;
	margin: 0 auto;
}

